@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

a {
  text-decoration: none;
}

i {
  color: white;
  font-size: 14px;
}

h1 {
  color: white;
}

p,
ul {
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #151515;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hearder */

.top-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-logo img {
  border: solid 1px white;
  height: 55px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin: 20px;
}

/* page characters */

.heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 7px;
  left: 7px;
  cursor: pointer;
}

.heart i {
  color: rgb(230, 230, 230);
}

.character-name {
  font-size: 14px;
  font-weight: 100;
  padding: 10px 0px;
  margin-top: 15px;
  border-top: solid 1px red;
}

.characters-description {
  color: rgb(46, 45, 45);
  font-size: 13px;
  line-height: 16px;
  font-weight: 100;
}

.characters-description:hover {
  color: rgb(112, 112, 112);
}

.all-character {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin: 30px 5px;
  box-sizing: border-box;
}

.character {
  width: 150px;
  position: relative;
  /* border: solid 2px yellow; */
}

.character img {
  width: 150px;
  height: 150px;
  box-shadow: rgba(118, 118, 118, 0.2) 0px 8px 24px;
}

.character img:hover {
  transition-duration: 0.8s;
  opacity: 50%;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.presence {
  margin-top: 100px;
  font-size: 20px;
  font-weight: 100;
}

.presence span {
  font-size: 25px;
  font-weight: 700;
}

/* page comics */
.comics-name {
  font-size: 14px;
  line-height: 18px;
  font-weight: 100;
  margin-top: 15px;
  padding: 10px 0px;
  border-top: solid 1px red;
}

.comics-description {
  color: rgb(46, 45, 45);
  font-size: 13px;
  line-height: 16px;
  font-weight: 100;
}

.comics-description:hover {
  color: rgb(112, 112, 112);
}

.all-comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin: 30px 5px;
  box-sizing: border-box;
}

.comics {
  width: 150px;
  /* border: solid 2px yellow; */
}

.comics img {
  width: 150px;
  box-shadow: rgba(118, 118, 118, 0.2) 0px 8px 24px;
}

/* page character id */
.box-center {
  display: flex;
  justify-content: center;
}

.details {
  width: 60%;
  padding: 10px;
  border: solid 1px red;
  display: flex;
  gap: 20px;
}

.character-id {
  width: 300px;
  height: 300px;
  /* border: solid 2px yellow; */
}

.character-id img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.details-name {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.details-description {
  font-size: 14px;
  font-weight: 100;
  line-height: 17px;
}

.carousel {
  /* border: solid 2px green; */
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
  flex-shrink: 0;
  box-sizing: border-box;
}

.comics-present img {
  margin-top: 20px;
  height: 250px;
}

/* .recherche */
.search {
  /* border: solid 2px green; */
  display: flex;
  justify-content: center;
  gap: 50px;
}

.input-search {
  width: 200px;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px;
}

.input-search-number {
  width: 80px;
  font-size: 12px;
  border-radius: 5px;
  outline: none;
  border: none;
}

/* page favoris */

.favoris-loader {
  /* border: solid 1px red; */
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.works {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.works img {
  height: 60px;
}

.works p {
  font-size: 30px;
  font-weight: 100;
}
